<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1><%= title %></h1>
    <p>
    

<ul>
    <li><img src="../images/<%= artist.photo %>"></li>
    <li><%= artist.name  %></li>
    <li><%= artist.genre  %></li>
    <li><%= artist.bio  %></li>

</ul>
            

    
    </p>
</body>

</html>
